.cardsContainer {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  cursor: pointer;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.form input {
  padding: 10px 60px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form button {
  padding: 10px 30px;
  background-color: #71abc4;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.form button:hover {
  opacity: 0.8;
}
.form button:active {
  opacity: 0.6;
}
